<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
<h2 th:text="'Nueva API'"></h2>
<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<form method="post" th:action="@{/save}" th:object="${ApiForm}">
    <input type="hidden" th:field="*{id}">
    <label>Nombre:</label>
    <input type="text" th:field="*{nombre}"><br><br>
    <label>Version:</label>
    <input type="text" th:field="*{version}"><br><br>
    <label>Estado:</label>
    <input type="text" th:field="*{Estado}"><br><br>
    <label>Equipo:</label>
    <select th:field="*{id}">
        <option value="">Seleccione</option>
        <option th:each="d : ${departments}" th:value="${d.departmentId}" th:text="${d.departmentName}"></option>
    </select><br><br>
    <button type="submit" th:text="'Guardar'"></button>
</form>
<p>
    <a th:href="@{/list}">Volver</a>
</p>
</body>
</html>
